/* General styles for the edit form container */
.edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Heading styles */
  .edit-form h3 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #333;
  }
  
  /* Input fields styling */
  .edit-form input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid #da7070;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  /* Input hover and focus states */
  .edit-form input:focus {
    border-color: #0d539e;
  }
  
  /* Buttons container */
   button {
    width: 100%;
    padding: 0.8rem;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(228, 159, 159);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: black;
    
  }
  
  /* Save button styles */
  .btn-save {
    background-color: #4caf50; /* Green */
    margin: 5px;
    color: #f9f9f9;
  }
  
  .btn-save:hover {
    background-color: #85ec8a;
    
  }
  
  /* Cancel button styles */
  .btn-cancel {
    background-color: #f44336; /* Red */
    color: #f9f9f9;
  }
  
  .btn-cancel:hover {
    background-color: #e53935;
  }
  
  /* Responsive adjustments */
  @media (max-width: 480px) {
    .edit-form {
      padding: 1.5rem;
    }
  
    .edit-form h3 {
      font-size: 1.5rem;
    }
  
    .edit-form input {
      font-size: 0.9rem;
    }
  
  
  }
  