/* AddUser.css */

.form-input {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
 
  
  .form-input input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin: 4px;
  }
 
  
  .form-input input:focus {
    outline: none;
    border-color: #4caf50; /* Green border on focus */
  }

  .add-btn{
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    width: 120px;
    
  }
  
  .form-input button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  hr {
    margin-top: 15px;
    border: 0;
    border-top: 1px solid #d69090;
  }
  
/* Responsive adjustments for smaller screens */

  @media screen and (max-width:576px){
    .form-input {
      display: flex;
      flex-direction: column;
      width: 350px;
      margin: 0 auto;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
      background-color: #f9f9f9;
    }
    .input-screen-container{
      display: flex;
      flex-direction: column;
      justify-self: center;
     
    }
    .form-input input {
      padding: 5px;
      margin: 5px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 8px;
      margin: 4px;
    }

  }